@using EntityLayer.Concrete
@model About 
@{
    ViewData["Title"] = "EditAbout";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" asp-controller="About" asp-action="EditAbout" method="post">

                <div class="form-group">
                    <label class="form-label" asp-for="Title">Title</label>
                    <input class="form-control" asp-for="Title" value="@Model.Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea class="form-control" asp-for="Description" rows="4" value="@Model.Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Age" class="form-label">Age</label>
                    <input class="form-control" asp-for="Age" value="@Model.Age">
                    <span class="text-danger" asp-validation-for="Age"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Mail" class="form-label">Mail</label>
                    <input class="form-control" asp-for="Mail" value="@Model.Mail">
                    <span class="text-danger" asp-validation-for="Mail"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Phone" class="form-label">Phone</label>
                    <input class="form-control" asp-for="Phone" value="@Model.Phone">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Address" class="form-label">Address</label>
                    <input class="form-control" asp-for="Address" value="@Model.Address">
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="ImageUrl" class="form-label">ImageUrl</label>
                    <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl">
                    <span class="text-danger" asp-validation-for="ImageUrl"></span>
                </div>

                <button type="submit" class="btn btn-inverse-primary btn-fw">Submit</button>
                <a href="/About/Index/" class="btn btn-inverse-danger btn-fw">Cancel</a>
            </form>
        </div>
    </div>
</div>
