@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card">

            <div class="card-header border-0">
                <h3 class="mb-0">Feature List</h3>
            </div>

            <div class="table-responsive">
                <table class="table align-items-center table-flush">

                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Age</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Image Url</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Title</th>
                                <th style="white-space:pre-line; text-anchor:start; text-align:center">@item.Description</th>
                                <th>@item.Age</th>
                                <th>@item.Mail</th>
                                <th>@item.Phone</th>
                                <th>@item.Address</th>
                                <th>@item.ImageUrl</th>
                                <th><a href="/About/EditAbout/@item.Id" class="btn btn-info">Edit</a></th>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>