@using EntityLayer.Concrete
@model List<Skill>

<div class="section px-3 px-lg-4 pt-5" id="skills">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Yetenekler</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:600px">Bildiğim teknolojilere ve bilgi düzeylerine aşağıdan ulaşabilirsiniz.</p>
        </div>
        <div class="bg-light p-3">
            <div class="row">
                @{var delay = 100; var delay2 = 400;}
                @for(int i = 0; i < Model.Count; i++)
                {
                    if(i % 2 == 0)
                    {
                        <div class="col-md-5">
                            <div class="py-1">
                                <div class="d-flex text-small fw-bolder"><span class="me-auto">@Model[i].Title</span><span>@Model[i].Value%</span></div>
                                <div class="progress my-1">
                                    <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="@delay" data-aos-anchor=".skills-section" style="width: @Model[i].Value%" aria-valuenow="@Model[i].Value" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                        delay += 100;
                    }
                    else
                    {
                        <div class="col-md-5 offset-md-2">
                            <div class="py-1">
                                <div class="d-flex text-small fw-bolder"><span class="me-auto">@Model[i].Title</span><span>@Model[i].Value%</span></div>
                                <div class="progress my-1">
                                    <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="@delay2" data-aos-anchor=".skills-section" style="width: @Model[i].Value%" aria-valuenow="@Model[i].Value" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                        delay2 += 100;
                    }
                }
            </div>
        </div>
    </div>
</div>